<!DOCTYPE html>
<html>

<head>
    <title>Notes Angular</title>
    <link rel="stylesheet" href="build/styles.css">
</head>

<body>
    <div id="notesapp" ng-app="notesApp" ng-controller="NotesController" ng-click="addNote($event)">
        <div class="menu">
            <div class="close"></div>
        </div>
        <div class="notes" ng-repeat="note in notes" ng-show="notes.length">
            <note></note>
        </div>
    </div>

    <script src="js/lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/providers.js"></script>


</body>

</html>
