<!DOCTYPE html>
<html>

<head>
    <title>Notes Angular</title>
    <link rel="stylesheet" href="build/styles.css">
</head>

<body>
    <div id="notesapp" ng-app="notesApp" ng-controller="NoteController" ng-click="addNote($event)">
        <div class="menu">
            <div class="close"></div>
        </div>
        <div class="notes" ng-repeat="note in notes" ng-show="notes.length">

        <note></note>

            <!-- <div class="note" ng-style="note.offset">
                <div class="head">
                    <div class="panel">
                        <div class="close"></div>
                    </div>
                    <textarea class="title">{{note.title}}</textarea>
                </div>
                <div class="body">
                    <textarea class="content">{{note.content}}</textarea>
                </div>
            </div> -->
        </div>
    </div>

    <script src="js/lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/noteController.js"></script>

</body>

</html>
